/*Essential block*/

.clean-side-padding
    padding-left: 0
    padding-right: 0

#navbar
    margin-top: 0
    +above(768px)
        display: none
    .logo
        img
            +size(auto, 80px)

#user-login
    +centerblock(50%)
    border-radius: 10px
    border: 1px solid #cacaca
    padding: 20px
    .form-actions
        text-align: center
        .form-submit
            display: inline-block

.menu-onpage
    +posfix1(25px,0)
    z-index: 9999
    opacity: 0.7
    .menu > li
        .dropdown-toggle
            +size(50px,50px)
            +bgnorep-cc("cogadmin.svg")
            background-size: auto,100%
            background-color: #fff
            border: 1px solid #cacaca
            border-radius: 0 5px 5px 0
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
            cursor: pointer
.block-masquerade
    +posfix4(25px, -150px)
    +bgnorep-rc("masquerade.svg")
    background-size: auto 100%
    width: 200px
    box-sizing: border-box
    border: 1px solid #cacaca
    background-color: #fff
    padding: 5px 5px 5px 5px
    border-radius: 0 5px 5px 0
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
    opacity: 0.7
    z-index: 9999
    .container-inline,
    .placeholder
        +hide
    ul
        +nopadmar
        li
            display: inline-block
            list-style: none
.bootstrap-slideshow
    p
        margin-bottom: 10px
    ol
        bottom: 10px
        li
            width: 12px
            height: 12px
            margin: 0 5px
            &.active
                margin: 0 5px

.block
    .block-title
        +common-block-title

#admin-menu,
.logoblock,
.menuchinh
    +below($breakpoint2)
        +hide

/*Essential blocks END*/

.logoblock
    img
        +size(auto, 120px)

.headerinfo
    float: right
    margin-top: 10px
    .view-content
        text-align: right
        font: 18px $utmneobold
        color: $color-secondary
.langselect
    float: right
    margin: 15px 15px 0 15px    
    ul
        +nopadmar
        +flex-row
        li
            list-style: none
            margin-left: 10px
.menuchinh
    margin-top: 20px
    .sf-menu
        text-align: right
        a
            padding: 0 15px
            font: 1.2em/30px $globalfont
            margin-top: 10px
        /* Menu cấp 1*/
        li.sf-depth-1
            display: inline-block
            float: none
            margin-left: 10px
            &.first
            &.last
            &.active-trail,
            &:hover
                & > a
                    text-decoration: none
                    color: #fff !important
                    background: $color-primary
                    border-radius: 15px
                & > ul
                    opacity: 1
            a.sf-depth-1
                color: $color-primary

            /*Menu cấp 2*/
            & > ul
                top: 40px
                background: $color-primary
                /*Fix superfish submenu show up while load waiting*/
                opacity: 0
                li.sf-depth-2
                    padding: 0 20px 0 0
                    a.sf-depth-2
                        color: #fff

                    /*Menu cấp 3*/
                    & > ul
                        background: $color-primary
                        li.sf-depth-3
                            box-sizing: border-box
                            a.sf-depth-3
                                color: #fff

.baivietkhac
    margin-top: 30px

.home-slideshow
    .view-content
        .views-slideshow-controls-top
            position: relative
            a
                +size(52px,52px)
                outline: none
                text-indent: -9999px
            .views-slideshow-controls-text-pause
                +hide
            .views-slideshow-controls-text-previous
                +posabs1(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-prev.svg")
            .views-slideshow-controls-text-next
                +posabs2(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-next.svg")
            .views-slideshow-pager-fields
                +flex-row
                +posabs1(0,0) /*Vị trí top của pager sẽ được điểu chỉnh bởi jquery*/
                justify-content: center
                width: 100%
                z-index: 100
                +below($breakpoint1)
                    +hide
                .views-slideshow-pager-field-item
                    +invisible-link-block
                    +bgnorep-cc("pager-circle.svg")
                    +size(15px,15px)
                    margin: 0 2px
                    cursor: pointer
                    opacity: 1
                    a
                        +size(100%,100%)
                    &.active
                        +bgnorep-cc("pager-circle-active.svg")
        .views_slideshow_cycle_main
            .views-slideshow-cycle-main-frame
                .views-slideshow-cycle-main-frame-row
                    position: relative
                    width: 100% !important
                    img
                        +image-responsive
                    .views-field-edit-node
                        top: 40px
                    .views-fieldset
                        +posabs4(20px,0)
                        +size(100%,120px)
                        padding: 15px
                        box-sizing: border-box
                        text-align: center
                        +below($breakpoint1)
                            position: relative
                            top: auto
                            height: auto
                        +below($breakpoint2)
                            +hide
                        .views-field-title
                            a
                                font: bold 15px $globalfont
                                color: $color-primary
                        .views-field-body
                            margin-top: 5px

.home-lienket
    +bgnorep-cc("bg-home-lienket.jpg")
    background-size: cover
    padding: 25px 0
    .view-content
        +common-section
        +flex-row
        .views-row
            +flex-column(3)
            padding: 0 15px
            text-align: center
            .inside
                border: 1px solid $color-primary
                background: rgba(73,117,32,0.1)
                padding: 30px 0
                border-radius: 10px
                .views-field-field-image
                    img
                        +size(auto,48px)
                        display: inline-block
                .views-field-title
                    margin-top: 10px
                    a
                        font-size: 20px
                        color: $color-primary
                .views-field-body
                    padding: 0 30px
                    font: 16px/25px $globalfont
                    margin-top: 20px
                    color: $color-text
            +below($breakpoint2)
                +flex-column(1)

.home-hinhcongty
    +common-section
    margin-top: 30px
    text-align: center
    .view-title
        +common-block-title
    .view-content
        +flex-row-space-between
        .views-row
            width: 32%
            .views-field-field-image
                img
                    padding: 3px
                    border-radius: 15px
                    box-shadow: 1px 1px 5px rgba(0,0,0,0.2)

.home-gioithieu
    +common-section
    margin-top: 30px
    text-align: center
    .view-content
        +centerblock(65%)
        font: 25px/40px $uvnaicapbold
        +below($breakpoint1)
            width: 90%
            font: 18px/25px $uvnaicapbold
        .views-row
            .views-field-title
                margin-top: 20px
                a
                    font: 20px $globalfont
                    color: #EE7757

.home-baiviet
    +bgnorep-cc("bg-home-tintuc.jpg")
    background-size: cover
    background-attachment: fixed
    display: block
    text-align: center
    padding: 30px 0 0px 0
    width: 100%
    margin-top: 30px
    .block-title
        color: #fff
        border-bottom-color: #fff
        margin-top: 0
    .danhsachbaiviet
        +common-section
        .view-content
            .views-row
                .views-field-title
                    a
                        color: #fff !important
                .views-field-created
                        color: #fff !important
        .more-link
            margin: 0 0 40px 0
            a
                font: 23px $globalfont
                color: #EED757

.home-hoidap
    margin-top: 30px
    text-align: center
    .danhsachcauhoi
        +common-section
        .more-link
            margin: 0 0 40px 0
            a
                font: 26px $uvnaicapbold

.home-tuyendung
    +bgnorep-cc("bg-home-tintuc.jpg")
    background-size: cover
    background-attachment: fixed
    display: block
    text-align: center
    padding: 30px 0 0px 0
    width: 100%
    margin-top: 30px
    .block-title
        color: #fff
        border-bottom-color: #fff
        margin-top: 0
    .danhsachtuyendung
        +common-section
        .more-link
            margin: 0 0 40px 0
            a
                font: 23px $globalfont
                color: #EED757

.footerinfo
    +flex-column(2)
    .view-content
        font: 14px/20px $globalfont
        color: #cacaca

.menufooter
    +flex-column(2)
    padding-left: 20px

.maintenance-message
    +posfix4(5px,5px)
    background: red
    color: #fff
    z-index: 999
    opacity: 0.5
    padding: 5px


/*CSS DANH CHO NHAT TRUONG PHAT*/

.mangxahoi
    .view-content
        +flex-row
        flex-wrap: nowrap
        +below($breakpoint2)
        .views-row
            +size(60px,auto)
            padding: 0 5px


    