=common-section
    +centerblock($breakpoint0)
    overflow: hidden
    +below($breakpoint2)
        width: 100%

=common-block-title
    font: normal 50px $utmfla
    text-align: center
    margin: 20px auto 30px
    //border-bottom: 3px solid $color-secondary
    display: inline-block
    color: #62B7AA
    min-width: 300px
    +below($breakpoint1)
        font-size: 50px
        margin: 0 auto 10px
        
    a
        text-decoration: none
        &:hover
            color: $color-secondary
        +below($breakpoint1)
            font-size: 20px

=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block
