/*Trang chủ*/
.front
    .content-container
        width: 100%
        padding-top: 0

/*Trang chi tiết bài viết*/
.node-type-article
    .page-header
        +centerblock(80%)
        text-align: center
    .tabs--primary
        +centerblock(80%)
    .node-article
        +centerblock(80%)
        padding: 0 15px

/*Trang liên hệ*/
.page-node-9
    .node-webform
        .group-left,
        .group-right
            padding: 0 15px
            .field-name-body
                margin-bottom: 20px
