.view
    .view-content,
    .slide__content
        .views-row,
        .slide__grid
            position: relative
        .views-field-edit-node,
        .views-field-edit-term
            +posabs1(5px,5px)
            +size(20px,20px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

        .views-field-delete-node
            +posabs1(5px,27px)
            +size(20px,20px)
            +bgnorep-cc("icon-delete.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

.danhsachbaiviet
    .view-content
        +flex-row-space-between
        .views-row
            width: 32%
            padding: 0 15px
            margin-bottom: 30px
            text-align: left
            box-sizing: border-box
            .views-field-field-image
                img
                    padding: 3px
                    background: #fff
                    border-radius: 15px
            .views-field-title
                margin-top: 15px
                a
                    font: 25px/25px $uvnaicapbold
                    color: $color-primary
            .views-field-created
                margin-top: 10px
                font: 15px $globalfont
            .views-field-body
                margin-top: 15px
                font: 16px/25px $globalfont
                color: #fff
            +below($breakpoint2)
                +flex-column(1)

.danhsachcauhoi
    .view-content
        +flex-row
        +below($breakpoint1)
            +centerblock(90%)
            display: flex
        .views-row
            +flex-column(3)
            +bgnorep-tl("bullet.png")
            padding: 0 20px 0 40px
            margin-bottom: 30px
            box-sizing: border-box
            text-align: left
            +below($breakpoint1)
                +flex-column(1)
            .views-field-title
                a
                    font: 22px/25px $uvnaicapbold!important
                    color: $color-text !important 
            .views-field-view-node
                margin-top: 10px
                a
                    font: 18px $globalfont !important 
                    color: $color-secondary-darker !important

.danhsachtuyendung
    .view-content
        +flex-row
        +below($breakpoint1)
            +centerblock(90%)
            display: flex
        .views-row
            +flex-column(2)
            margin-bottom: 40px
            text-align: left
            padding-right: 20px
            +below($breakpoint1)
                +flex-column(1)
                padding-right: 0
            .views-field-field-image
                +leftblock(40%)
                margin-right: 30px
                +below($breakpoint1)
                    margin: 0
                    width: 100%
                    float: none
                img
                    padding: 3px
                    background: #fff
                    border-radius: 15px
            .views-field-title
                +below($breakpoint1)
                    margin-top: 10px
                a
                    font: 22px/25px $uvnaicapbold
                    color: #fff
                    +below($breakpoint1)
                        font: 25px/25px $uvnaicapbold
            .views-field-created
                margin-top: 15px
                font: 14px $globalfont
                color: #fff
