@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

a
    font: bold 14px $globalfont
    text-decoration: none
    color: $color-secondary
    outline: none
    &:hover
        color: lighten($color-primary,10%)

h1
    +common-block-title
h2,h3,h4
    font-family: $globalfont
    color: $color-primary

#admin-menu
    a
        font-size: 11px

body
    +nopadmar
    font: 14px/25px $globalfont
    color: $color-text
    .navbar
        margin-bottom: 0
        border: none
        .navbar-header
            .logo
        .navbar-nav
            margin: 0 -15px
    .breadcrumb
        margin-bottom: 0
    .header-container
        border-top: 3px solid $color-secondary
        .header-inside
            +common-section
            .header-group-1
                float: left
            .header-group-2
                float: right
                .region-header2-1
                    clear: both
                    overflow: hidden
                    margin-bottom: 10px
                .region-header2-1
                    clear: both
                    overflow: hidden
    .banner-container
        +common-section
        width: 100%
        border-top: 3px solid #ededed
    .home-container
        +common-section
    .content-container
        +common-section
        padding-top: 40px
        .ds-2col-stacked
            +flex-row
            .group-left,
            .group-right
                +flex-column(2)
                margin-bottom: 30px
                +below($breakpoint2)
                    +flex-column(1)
        .tabs--primary
            padding: 0 15px
            border: none
            li
                margin-right: 5px
                border: none
                a
                    font: normal 14px/25px $globalfont
                    padding: 0 10px
                    margin: 0
                    border: none
                .active,
                &:hover,
                &:hover a,
                    border: none
                    background: $color-primary
                    color: #fff
                    border-radius: 5px
        .page-header
            +common-block-title
    .footer-container
        padding: 30px 0
        background: #333
        border: none
        .footer-inside
            +common-section
            display: flex
        .region-footer1
            flex-grow: 2
            +flex-row
        .region-footer2
