/*block position control*/
=posabs1($top,$left)
    position: absolute
    top: $top
    left: $left

=posabs2($top,$right)
    position: absolute
    top: $top
    right: $right

=posabs3($bottom,$right)
    position: absolute
    bottom: $bottom
    right: $right

=posabs4($bottom,$left)
    position: absolute
    bottom: $bottom
    left: $left

=posfix1($top,$left)
    position: fixed
    top: $top
    left: $left

=posfix2($top,$right)
    position: fixed
    top: $top
    right: $right

=posfix3($bottom,$right)
    position: fixed
    bottom: $bottom
    right: $right

=posfix4($bottom,$left)
    position: fixed
    bottom: $bottom
    left: $left
