body
    $global-snippet-padding: 15px
    +nopadmar
    .w3ateam-snippet-master-wrap
        +centerblock(70%)
        border: 1px dashed #cacaca
        border-radius: 5px
        margin: 20px auto
        padding: 10px 0

        .description
            font: bold 14px "Arial"
            border: 1px solid #cacaca
            border-radius: 5px
            margin: 50px $global-snippet-padding 30px
            color: red
            font-style: italic
            background: #fafafa
            padding: $global-snippet-padding
            text-align: center
        textarea
            +centerblock-h(90%,150px)
            background: #31567c
            color: #fff
            border: none
            border-radius: 5px
            padding: 20px
            box-sizing: border-box
            box-shadow: inset 0 0 10px rgba(0,0,0,0.4)

    .w3ateam-snippet
        +flex-row
        justify-content: center
        margin: 10px 0
        padding: 0 $global-snippet-padding
        box-sizing: border-box

    /*w3ateam-snippet 1: Tiêu đề và trích dẫn (1 cột)*/
    .w3ateam-snippet1
        padding: 0 $global-snippet-padding*2
        box-sizing: border-box
        h2
            +nopadmar
            width: 100%
        p
            margin: 10px 0 20px
            width: 100%

    /*w3ateam-snippet 2/3/4: Tiêu đề và trích dẫn (2/3/4 cột)*/
    .w3ateam-snippet2
        .col
            +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            .title
                +nopadmar
            p
                margin: 5px 0 0 0
    .w3ateam-snippet3
        .col
            +flex-column(3)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            .title
                +nopadmar
            p
                margin: 5px 0 0 0
    .w3ateam-snippet4
        .col
            +flex-column(4)
            @media (max-width: $breakpoint1)
                +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            .title
                +nopadmar
            p
                margin: 5px 0 0 0

    /*w3ateam-snippet 5/6/7: Hình ảnh (co giãn), tiêu đề và trích dẫn (2/3/4 cột)*/
    .w3ateam-snippet5
        .col
            +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            img
                +image-responsive
                margin: 0 0 10px 0
            .title
                +nopadmar
            p
                margin: 5px 0 0 0
    .w3ateam-snippet6
        .col
            +flex-column(3)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            img
                +image-responsive
                margin: 0 0 10px 0
            .title
                +nopadmar
            p
                margin: 5px 0 0 0
    .w3ateam-snippet7
        .col
            +flex-column(4)
            @media (max-width: $breakpoint1)
                +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            img
                +image-responsive
                margin: 0 0 10px 0
            .title
                +nopadmar
            p
                margin: 5px 0 0 0

    /*w3ateam-snippet 8: Hình ảnh (kích thước gốc), tiêu đề và trích dẫn (2 cột)*/
    .w3ateam-snippet8
        .col
            +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            img
                margin: 0 0 10px 0
            .title
                +nopadmar
            p
                margin: 5px 0 0 0

    /*w3ateam-snippet 9/10/11: Hình ảnh tròn (cố định), tiêu đề và trích dẫn căn giữa (2/3/4 cột)*/
    .w3ateam-snippet9
        .col
            +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            text-align: center
            img
                +centerblock-h(140px,140px)
                border-radius: 70px
                margin-bottom: 10px
            .title
                +nopadmar
            p
                margin: 5px 0 0 0
    .w3ateam-snippet10
        .col
            +flex-column(3)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            text-align: center
            img
                +centerblock-h(140px,140px)
                border-radius: 70px
                margin-bottom: 10px
            .title
                +nopadmar
            p
                margin: 5px 0 0 0
    .w3ateam-snippet11
        .col
            +flex-column(4)
            @media (max-width: $breakpoint1)
                +flex-column(2)
            @media (max-width: $breakpoint2)
                +flex-column(1)
            padding: 0 $global-snippet-padding $global-snippet-padding
            box-sizing: border-box
            text-align: center
            img
                +centerblock-h(140px,140px)
                border-radius: 70px
                margin-bottom: 10px
            .title
                +nopadmar
            p
                margin: 5px 0 0 0

    /*w3ateam-snippet 12: Hình ảnh tròn (cố định, lớn), tiêu đề và 2 đoạn trích dẫn căn giữa*/
    .w3ateam-snippet12
        padding: 0 $global-snippet-padding*2
        box-sizing: border-box
        text-align: center
        img
            +centerblock-h(180px,180px)
            border-radius: 90px
            margin-bottom: 15px
        .title
            +nopadmar
            width: 100%
        p.p1
            margin: 5px 0 0 0
            width: 70%
        p.p2
            margin: 15px 0 0 0
            width: 85%
