/*background image control*/
=bgrep($image_name)
    background: url(../images/#{$image_name})

=bgnorep-pos($image_name,$top,$left)
    background: url(../images/#{$image_name}) no-repeat #{$left} #{$top}

=bghoverchange($bgimg1,$bgimg2)
	+bgnorep-cc($bgimg1)
	&:hover
        +bgnorep-cc($bgimg2)

/*No repeat*/
=bgnorep-tl($image_name)
    background: url(../images/#{$image_name}) no-repeat left top
=bgnorep-tc($image_name)
    background: url(../images/#{$image_name}) no-repeat center top
=bgnorep-tr($image_name)
    background: url(../images/#{$image_name}) no-repeat right top
=bgnorep-rc($image_name)
    background: url(../images/#{$image_name}) no-repeat right center
=bgnorep-cc($image_name)
    background: url(../images/#{$image_name}) no-repeat center center
=bgnorep-lc($image_name)
    background: url(../images/#{$image_name}) no-repeat left center
=bgnorep-br($image_name)
    background: url(../images/#{$image_name}) no-repeat right bottom
=bgnorep-bc($image_name)
    background: url(../images/#{$image_name}) no-repeat center bottom
=bgnorep-bl($image_name)
    background: url(../images/#{$image_name}) no-repeat left bottom

/*Repeat X*/
=bgrepx-tl($image_name)
    background: url(../images/#{$image_name}) repeat-x left top
=bgrepx-tc($image_name)
    background: url(../images/#{$image_name}) repeat-x center top
=bgrepx-tr($image_name)
    background: url(../images/#{$image_name}) repeat-x right top
=bgrepx-rc($image_name)
    background: url(../images/#{$image_name}) repeat-x right center
=bgrepx-cc($image_name)
    background: url(../images/#{$image_name}) repeat-x center center
=bgrepx-lc($image_name)
    background: url(../images/#{$image_name}) repeat-x left center
=bgrepx-br($image_name)
    background: url(../images/#{$image_name}) repeat-x right bottom
=bgrepx-bc($image_name)
    background: url(../images/#{$image_name}) repeat-x center bottom
=bgrepx-bl($image_name)
    background: url(../images/#{$image_name}) repeat-x left bottom

/*Repeat Y*/
=bgrepy-tl($image_name)
    background: url(../images/#{$image_name}) repeat-y left top
=bgrepy-tc($image_name)
    background: url(../images/#{$image_name}) repeat-y center top
=bgrepy-tr($image_name)
    background: url(../images/#{$image_name}) repeat-y right top
=bgrepy-rc($image_name)
    background: url(../images/#{$image_name}) repeat-y right center
=bgrepy-cc($image_name)
    background: url(../images/#{$image_name}) repeat-y center center
=bgrepy-lc($image_name)
    background: url(../images/#{$image_name}) repeat-y left center
=bgrepy-br($image_name)
    background: url(../images/#{$image_name}) repeat-y right bottom
=bgrepy-bc($image_name)
    background: url(../images/#{$image_name}) repeat-y center bottom
=bgrepy-bl($image_name)
    background: url(../images/#{$image_name}) repeat-y left bottom
